<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <footer>
        <div class="socialcontact">
            <a class="linkedinlogo" href="https://www.linkedin.com/company/anveshan-nie" target="_blank"><img src="/static/img/linkedinlogo.png" alt="Linkdin logo" height="60px"></a>
            <a class="instalogo" href="https://www.instagram.com/anveshan_nie" target="_blank"><img src="/static/img/instalogo.png" height="60px" alt="instalogo"></a>
            <a class="gitlogo" href="https://github.com/AnveshanNIE" target="_blank"><img src="/static/img/gitlogo.webp" height="70px" alt="gitlogo"></a>
        </div>
        <br><br><br>
        <p>&copy; 2025 ANVESHAN. All rights reserved.</p>
    </footer>
</body>
</html>