{% extends "Base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="/static/css/members.css">
    
</head>
<body>
    {% comment %} {% include "Header.html" %}

    {% include "Footer.html"%} {% endcomment %}
    <!-- Row- 1 -->
    <h2 class="heading">Web-Developement Team</h2>&nbsp;&nbsp;
    <div class="row" id="r1">
        
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Shrinidhi_Nadig Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Shrinidhi Nadig</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Mohammed_azhan Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Mohammed azhan</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Pavan_KumarK_M Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Pavan Kumar</h3>
        </div>
    </div><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Row 2 -->
    <h2 class="heading">Creativity Team</h2><br><br>
    <div class="row" id="r1">
        
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Sandesh Anveshan-photoaidcom-cropped.jpeg" height="180px" alt=""></div><br>
            <h3>Sandesh Nagansur</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Aadya_Sharma Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Aadya Sharma</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Abhay Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Abhay</h3>
        </div>
    </div><br><br>
    <div class="row" id="r1">
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/N_S_Panisree_Padeswari Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>N S Panisree</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Pratik_Kharvi Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Pratik Kharvi</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Shubham Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Shubham</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Tanish_Raj_Urs Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Tanish Raj Urs</h3>
        </div>
    </div><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Row 3 -->
    <h2 class="heading">Editorial Team</h2><br><br>
    <div class="row" id="r1">
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Vaishnavi_D Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Vaishnavi D</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Deepankar Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Deepankar</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Prerika_P Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Prerika P</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Shreyas_SJ Anveshan-photoaidcom-cropped.png" height="180px" alt=""></div><br>
            <h3>Shreyas S J</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Rachana_S Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Rachana S</h3>
        </div>
    </div><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- Row 4 -->
    <h2 class="heading">Event-Management Team</h2><br><br>
    <div class="row" id="r1">
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Bhaskar_Gowda Anveshan-photoaidcom-cropped.png" height="180px" alt=""></div><br>
            <h3>Bhaskar Gowda</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Dewanshi Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Dewanshi</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Kartik_G Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Kartik G</h3>
        </div>
        <div class="divsection">
            <div class="circle"><img src="/static/img/Members_Pic/Richa Anveshan-photoaidcom-cropped.jpg" height="180px" alt=""></div><br>
            <h3>Richa</h3>
        </div>
    </div><br><br>
</body>
</html>
{% endblock  %}